.button {
	display: inline-block;
	background-color: $octa-blue--light;
	padding: 0.75rem 1.5rem;
	color: $octa-white;
	font-weight: bold;
	border-radius: 50px;
}

.button--white {
	background-color: $octa-white;
	color: $octa-blue;
}

.button--red {
	background-color: $octa-red;
	box-shadow: 0 8px 15px #fc403e30;
}
