@font-face {
	font-family: "Domus";
	src: url("../../.../../../static/fonts/Domus-Light.woff2") format("woff2"), url("../../../static/fonts/Domus-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Domus";
	src: url("../../../static/fonts/Domus-Regular.woff2") format("woff2"), url("../../../static/fonts/Domus-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Domus";
	src: url("../../../static/fonts/Domus-Bold.woff2") format("woff2"), url("../../../static/fonts/Domus-Bold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Domus";
	src: url("../../../static/fonts/Domus-Semibold.woff2") format("woff2"), url("../../../static/fonts/Domus-Semibold.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Domus";
	src: url("../../../static/fonts/Domus-Extralight.woff2") format("woff2"), url("../../../static/fonts/Domus-Extralight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Domus";
	src: url("../../../static/fonts/Domus-Ultralight.woff2") format("woff2"), url("../../../static/fonts/Domus-Ultralight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Domus";
	src: url("../../../static/fonts/Domus-Extrabold.woff2") format("woff2"), url("../../../static/fonts/Domus-Extrabold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
