.section {
	background: $octa-white;
}

.section__title {
	flex: 1 1 100%;
	text-align: center;
	margin-bottom: 2rem;
	font-size: 1.5rem;
	font-weight: normal;
	color: $octa-blue;
	@media only screen and (min-width: $bp-small) {
		font-size: 2.5rem;
	}
	@media only screen and (min-width: $bp-medium) {
		font-size: 3rem;
	}
	@media only screen and (min-width: $bp-large) {
		font-size: 3.5rem;
	}
}
.section__container {
	flex: 1 1 50%;
	text-align: center;
	margin: 0 auto;
	@media only screen and (min-width: $bp-medium) {
		&:first-of-type {
			padding-right: 10px;
		}
		&:last-of-type {
			padding-left: 10px;
		}
	}
}

.section__text {
	font-size: 1.125rem;
	color: $octa-lia;
	font-weight: normal;
	font-family: $font-din;
	line-height: 1.5;
}

.section__container--constrained {
	display: flex;
	flex-direction: column;
	max-width: 520px;
	justify-content: center;
}

.section__container--constrained:first-of-type {
	@media only screen and (min-width: $bp-large) {
		margin: 0 0 0 auto;
		padding-right: 75px;
	}
}

.section__container--constrained:last-of-type {
	@media only screen and (min-width: $bp-large) {
		margin: 0 auto 0 0;
		padding-left: 75px;
	}
}

.section--hero {
	background: linear-gradient(180deg, $octa-white 0%, $octa-white 40%, $octa-grey 40%, $octa-grey 100%);
	color: $octa-white;
	display: flex;
	justify-content: flex-start;
}

.section--intro {
	background: $octa-grey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1.5rem;
	@media only screen and (min-width: $bp-medium) {
		flex-direction: row;
		flex-wrap: wrap;
		padding: 4.375rem 1.5rem 5rem;
	}
}
